<aside class="main-sidebar">
    <section class="sidebar">
        <ul class="sidebar-menu tree" data-widget="tree">
            <li class="header">menu</li>
            <li class="acitve treeview">
                <a href="/admin/">
                    <span class="glyphicon glyphicon-home"></span>
                    <span>HOME</span>
                </a>
            </li>
            <li class="treeview">
                <a href="#">
                    <span class="glyphicon glyphicon-info-sign"></span>
                    <span>{{ name }}</span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="#">{{ name }}1</a></li>
                    <li><a href="#">{{ name }}2</a></li>
                </ul>
            </li>
        </ul>
    </section>
</aside>